services:
  mcp:
    build: .
    container_name: mcp
    ports:
      - 8080:8080
    volumes:
      - ./mcp_data:/data/mcp
      - ./libs/infractructure/rag/questions:/app/knowledge_base
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_started
      chromadb:
        condition: service_started
    networks:
      - telegram-network
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      - PORT=8080
      - CHROMA_PATH=http://chromadb:8000
      - CSV_KNOWLEDGE_BASE_PATH=/app/knowledge_base
      - MONGODB_HOST=mongo
      - MONGODB_PORT=27017
      - MONGODB_USERNAME=admin
      - MONGODB_PASSWORD=admin
      - MONGODB_DB_NAME=mcp
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=admin
      - TELEGRAM_HOST=http://telegram-userbot:3507
      - WHATSAPP_HOST=http://wa-bot:6800
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - ./mongo_data:/data/db
    networks:
      - telegram-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')", "--quiet"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    depends_on:
      - redis
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    environment:
      - REDIS_PASSWORD=admin
    volumes:
      - ./redis_data:/data
    networks:
      - telegram-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - 8000:8000
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE
    volumes:
      - ./chroma_data:/chroma/chroma
    networks:
      - telegram-network
networks:
  telegram-network:
    name: telegram-network
    driver: bridge